@import "../styles/variables.css";

.home {
    display: flex;
    flex-direction: column;
}

.picture,
.sidebar {
    box-sizing: border-box;
    width: 100%;
}

.picture {
    align-items: center;
    background-blend-mode: multiply;
    background-color: var(--color-primary);
    background-image: url(https://ucarecdn.com/62d49504-9de0-4a02-b7d8-a2be71a26599/-/progressive/yes/-/quality/lightest/pamellucas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
}

.picture .logo {
    fill: var(--color-light);
    margin-top: -56px;
}

.button--details {
    align-items: center;
    display: flex;
    justify-content: center;
}

.button--details .chevron-bottom {
    fill: var(--color-light);
    height: 12px;
    margin-left: 8px;
    width: 12px;
}

.sidebar {
    background-color: var(--color-primary);
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
}

.sidebar .information:first-child {
    padding-top: 0;
}

.sidebar .information:last-child:after {
    display: none;
}

.information__container {
    margin-bottom: 80px;
    margin-top: -64px;
}

.information {
    padding-top: 32px;
}

.information:after {
    background-color: var(--color-dark);
    content: "";
    display: block;
    height: 1px;
    margin-top: 32px;
    width: 100%;
}

.information h2 {
    font-size: 26px;
    padding-bottom: 24px;
}

.information p {
    padding-bottom: 8px;
}

.information p:last-child {
    padding-bottom: 0;
}

.information .button {
    margin-top: 24px;
}

.modal__content h2 {
    padding-bottom: 24px;
}

.gift__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 48px;
}

.gift__list .gift {
    margin-bottom: 48px;
}


@media (min-width: 1024px) {
    .home {
        flex-direction: row;
    }

    .picture {
        background-size: cover;
        width: 70%;
    }

    .picture .logo {
        margin-top: -140px;
        width: 560px;
    }

    .picture .menu,
    .picture .button {
        display: none;
    }

    .sidebar {
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 64px;
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 64px;
        width: 30%;
    }

    .information {
        padding-top: 48px;
    }

    .information:after {
        margin-top: 48px;
    }

    .information__container {
        margin-bottom: 0;
        margin-top: 0;
    }

    .gift__list .gift {
        margin-bottom: 24px;
        margin-left: 12px;
        margin-right: 12px;
    }    
}